*.1
*.5
*.8
*.cgi
*.dll
*.exe
*.html
*.la
*.lib
*.lo
*.o
*.obj
*.pdf
*.qm
*.rlm
*.rpm
*.so
*.tar.gz
*.xsl
*~
.deps
.libs
Makefile
Makefile.in
README
README.md
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
podget-wrapper
rdfetch
rdfetch.spec
zsh-functions
