[Desktop Entry]
Name=RDFetch
Name[en_US]=RDFetch
GenericName=podget wrapper and configurator
Comment=Command line menu app to manage podget Podcast feeds
Comment[en_US]=Command line menu app to manage podget Podcast feeds
Path=
StartupNotify=false
TryExec=/usr/bin/rdfetch
Exec=gnome-terminal --profile=rdfetch --geometry=132x32 --hide-menubar --command /usr/bin/rdfetch
Terminal=false
Type=Application
Categories=GNOME;Accessories;Rivendell;
Icon=QQQdatadirQQQ/icons/gnome/scalable/apps/rdfetch.svg
